@font-face {
  font-family: "iconfont"; /* Project id 3353435 */
  src: url('iconfont.woff2?t=1652864842912') format('woff2'),
       url('iconfont.woff?t=1652864842912') format('woff'),
       url('iconfont.ttf?t=1652864842912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e601";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-yuque-fill:before {
  content: "\e883";
}

.icon-augmented-reality:before {
  content: "\e6b5";
}

.icon-backpack:before {
  content: "\e6b6";
}

.icon-abra:before {
  content: "\e6b7";
}

.icon-action:before {
  content: "\e6b8";
}

.icon-augmented-reality-:before {
  content: "\e6b9";
}

.icon-action-:before {
  content: "\e6ba";
}

.icon-bellsprout:before {
  content: "\e6bb";
}

.icon-bracelet:before {
  content: "\e6bc";
}

.icon-battle:before {
  content: "\e6bd";
}

.icon-blue-team:before {
  content: "\e6be";
}

.icon-camera:before {
  content: "\e6bf";
}

.icon-candy:before {
  content: "\e6c0";
}

.icon-bullbasaur:before {
  content: "\e6c1";
}

.icon-charmander:before {
  content: "\e6c2";
}

.icon-combat-power:before {
  content: "\e6c3";
}

.icon-caterpie:before {
  content: "\e6c4";
}

.icon-crown:before {
  content: "\e6c5";
}

.icon-clock:before {
  content: "\e6c6";
}

.icon-dratini:before {
  content: "\e6c7";
}

.icon-egg-:before {
  content: "\e6c8";
}

.icon-compass:before {
  content: "\e6c9";
}

.icon-egg:before {
  content: "\e6ca";
}

.icon-eevee:before {
  content: "\e6cb";
}

.icon-fist:before {
  content: "\e6cc";
}

.icon-egg-incubator:before {
  content: "\e6cd";
}

.icon-egg-incubator-:before {
  content: "\e6ce";
}

.icon-footprints:before {
  content: "\e6cf";
}

.icon-gear:before {
  content: "\e6d0";
}

.icon-gotcha:before {
  content: "\e6d1";
}

.icon-fight:before {
  content: "\e6d2";
}

.icon-heart:before {
  content: "\e6d3";
}

.icon-hyper-potion:before {
  content: "\e6d4";
}

.icon-incense:before {
  content: "\e6d5";
}

.icon-instinct:before {
  content: "\e6d6";
}

.icon-incense-score:before {
  content: "\e6d7";
}

.icon-insignia:before {
  content: "\e6d8";
}

.icon-incenses:before {
  content: "\e6d9";
}

.icon-insignia-:before {
  content: "\e6da";
}

.icon-jigglypuff:before {
  content: "\e6db";
}

.icon-instinct-:before {
  content: "\e6dc";
}

.icon-lucky-egg:before {
  content: "\e6dd";
}

.icon-lure-module:before {
  content: "\e6de";
}

.icon-lucky-eggs:before {
  content: "\e6df";
}

.icon-map:before {
  content: "\e6e0";
}

.icon-lure-module-:before {
  content: "\e6e1";
}

.icon-lucky-egg-score:before {
  content: "\e6e2";
}

.icon-mega-ball:before {
  content: "\e6e3";
}

.icon-mankey:before {
  content: "\e6e4";
}

.icon-lure-module-score:before {
  content: "\e6e5";
}

.icon-mew:before {
  content: "\e6e6";
}

.icon-meowth:before {
  content: "\e6e7";
}

.icon-mystic:before {
  content: "\e6e8";
}

.icon-mystic-:before {
  content: "\e6e9";
}

.icon-new:before {
  content: "\e6ea";
}

.icon-open-pokeball:before {
  content: "\e6eb";
}

.icon-money-bag:before {
  content: "\e6ec";
}

.icon-pikachu1:before {
  content: "\e6ed";
}

.icon-pidgey:before {
  content: "\e6ee";
}

.icon-pawprints:before {
  content: "\e6ef";
}

.icon-player:before {
  content: "\e6f0";
}

.icon-player-:before {
  content: "\e6f1";
}

.icon-pikachu-:before {
  content: "\e6f2";
}

.icon-pikachu-1:before {
  content: "\e6f3";
}

.icon-pointer:before {
  content: "\e6f4";
}

.icon-pokeball:before {
  content: "\e6f5";
}

.icon-pokebag:before {
  content: "\e6f6";
}

.icon-pokeballs:before {
  content: "\e6f7";
}

.icon-pokedex:before {
  content: "\e6f8";
}

.icon-pokestop:before {
  content: "\e6f9";
}

.icon-pokestop-:before {
  content: "\e6fa";
}

.icon-potion:before {
  content: "\e6fb";
}

.icon-pokestop-1:before {
  content: "\e6fc";
}

.icon-pokestop-2:before {
  content: "\e6fd";
}

.icon-pokecoin:before {
  content: "\e6fe";
}

.icon-psyduck:before {
  content: "\e6ff";
}

.icon-rattata:before {
  content: "\e700";
}

.icon-revive:before {
  content: "\e701";
}

.icon-red-team:before {
  content: "\e702";
}

.icon-smartphone:before {
  content: "\e703";
}

.icon-snorlax:before {
  content: "\e704";
}

.icon-star-:before {
  content: "\e705";
}

.icon-razz-berry:before {
  content: "\e706";
}

.icon-scene:before {
  content: "\e707";
}

.icon-stardust:before {
  content: "\e708";
}

.icon-squirtle:before {
  content: "\e709";
}

.icon-star:before {
  content: "\e70a";
}

.icon-superball:before {
  content: "\e70b";
}

.icon-super-potion:before {
  content: "\e70c";
}

.icon-ultra-ball:before {
  content: "\e70d";
}

.icon-up-arrow:before {
  content: "\e70e";
}

.icon-tornado:before {
  content: "\e70f";
}

.icon-valor-:before {
  content: "\e710";
}

.icon-valor:before {
  content: "\e711";
}

.icon-tornado-:before {
  content: "\e712";
}

.icon-yellow-team:before {
  content: "\e713";
}

.icon-venonat:before {
  content: "\e714";
}

.icon-zubat:before {
  content: "\e715";
}

.icon-weedle:before {
  content: "\e716";
}

.icon-pikachu:before {
  content: "\e600";
}

