html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
}


.about-title {
  padding: 1vw 0 2vw;
  font-size: 2vw;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 2vw;
  background-color: #f2f2f2;
  text-align: center;
}

.about-us {
  display: flex;
  padding: 0 48px;
  margin-bottom: 2vw;
  min-height: calc(100vh - 43vw);
}

.about-us-map {
  flex-basis: 100px;
  flex-grow: 1;
}

.about-us-text {
  margin-left: 20px;
  flex-basis: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-us-text-tips {
  font-size: 1.65vw;
}

#allmap{
  height: 100%;
  width: 100%;
}
@media screen and (max-width:650px) {
  .about-us{
    flex-direction: column;
  }
  .about-us-map{
    margin-bottom: 4vw;
  }
}